<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="registerstyle.css">
        <script type='text/javascript' src='script.js'></script>
        <title>Edit</title>
    </head> 
    <body>
        <div>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand logo" href="index.html">WEconnect</span></a>
                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link menu" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="profile.html">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="register.html">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="r-body">
                <div class="r-text">
                <h1>Edit Your Business</h1>
            <p>Add information about your business below. This is to enable us display the details about your business on our website.</p>
           </div>
            <div>
                <form action="" method="" id="businessform">
                    <div class="r-form">
                        <label for="textInput">Country:</label>
                        <input id="textInput" class="custom" size="32" type="text"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Business Name:</label>
                        <input id="textInput" class="custom" size="32" type="text"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Address 1:</label>
                        <input id="textInput" class="custom" size="32" type="text" placeholder="1234 Main Street"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Address 2:</label>
                        <input id="textInput" class="custom" size="32" type="text" placeholder="Apartment or Flat no."/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">City:</label>
                        <input id="textInput" class="custom" size="32" type="text"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">State:</label>
                        <input id="textInput" class="custom" size="32" type="text"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Zip:</label>
                        <input id="textInput" class="custom" size="32" type="text" pattern="[0-9]{4,10}"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Phone:</label>
                        <input id="textInput" class="custom" size="32" type="tel"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Web Address:</label>
                        <input id="textInput" class="custom" size="32" type="url"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Email:</label>
                        <input id="textInput" class="custom" size="32" type="email"/>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Category:</label>
                        <select name="categorylist" id="categoryInput" class="custom" form="businessform">
                            <option value="volvo">Styling</option>
                            <option value="saab">Restaurant</option>
                            <option value="opel">Logistics</option>
                            <option value="audi">Entertainment</option>
                        </select>
                    </div>
                    <div class="r-form">
                        <label for="textInput">Business Photo:</label>
                        <input id="textInput" class="custom i-file" size="32" type="file" required/>
                    </div>
                    <input class="r-form b-form" type="submit" value="Edit Business">
                </form>
           </div>
        </div>
        <div class="footer">
            <div class="row f1 f-top">
                <div class="col-md-3">
                    <h2><span class="f-name">WEconnect</span></h2>
                </div>
                <div class="col-md-3"> 
                    <p class="f-address"><i class="fas fa-map-marker" style="color: #b20000"></i> 4 Kazzem Oyofo Close</p>
                    <p class="f-city">Ajah, Lagos State</p>
                </div>
                <div class="col-md-3">
                    <p class="f-phone"><i class="fas fa-phone" style="color: #b20000"></i> 070 3221 6073</p>   
                </div>
                <div class="col-md-3">
                    <i class="fab fa-facebook-f f-media f-facebook"></i>
                    <i class="fab fa-twitter f-media f-twitter"></i>
                    <i class="fab fa-google-plus-g f-media f-google"></i>
                    <i class="fab fa-linkedin-in f-media f-link"></i>
                </div>
            </div>
                <div class="row f1 f-bottom">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        &copy; 2018 All Rights Reserved
                    </div>
                    <div class="col-md-3">
                        <a href="#"><p class="f-privacy">Privacy Policy</p></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#"><p class="f-terms">Terms of Use</p></a>
                    </div>
                </div>
            </div>
        <script type='text/javascript' src='script.js'></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>