<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script type='text/javascript' src='script.js'></script>
        <title>WEconnect</title>
    </head>
    <body>
        
        <div>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand logo" href="index.html">WEconnect</span></a>
                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link menu" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="profile.html">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="register.html">Register</a>
                        </li>
                    </ul>
                    
                    <a class="btn btn-outline-danger my-2 my-sm-0 sign-btn-1" type="button" href="signin.html">Sign in</a>
                    <a class="btn btn-outline-danger my-2 my-sm-0 sign-btn-2" type="button" href="signup.html">Sign up</a>
                   
                </div>
            </nav>
        </div>
        
        <div class="background">
            <img class= "bg-image" src="images/bg.jpg" alt="background-image">
            
            <div class="background-words">
                <h1>Discover the real people behind your local shops</h1>
            </div>

            <div class="search">
                <form class="form-inline">
                    <input class="form-control form-control-lg search-bar s1" type="text" placeholder="Search by location">
                    <input class="form-control form-control-lg search-bar s2" type="text" placeholder="Search by category">
                    <button type="submit" class="btn btn-danger search-btn"><i class="fas fa-search"></i></button>
                </form> 
            </div>
        </div>
        <div class="restofbody">
            <div class="motto">
                <h3 class="motto-text">The largest and most trusted source for people, businesses, and contacts.</h3>
            </div>
            <div class="businesses">
                <p class="l-business">Whatever business you are looking for, you can find it here.</p>
                <div class="row b-icons">
                    <div class="col-sm-3">
                        <i class="fas fa-home biz-icons"></i>
                        <p class="b-icons">Construction</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fab fa-adversal biz-icons"></i>
                        <p class="b-icons">Advertisement</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-utensils biz-icons"></i>
                        <p class="b-icons">Restaurant</p>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-car biz-icons"></i>
                        <p class="b-icons">Cars</p>
                    </div>
                </div>
            </div>
            <div class="section-5">
                <h4>Featured Businesses</h4>
                <div class="row">
                    <div class="col-md-6 section-5a">
                        <div>
                            <img class="b-image" src="images/company.png">
                        </div>
                        <div class="b-desc">
                            <p>Good People International Company Ltd</p>
                            <p>11 Taiwo Obadele Close, Lagos</p>
                            <p><i class="fas fa-at" style="color: #b20000"></i> test@test.com</p>
                            <p><i class="fas fa-phone" style="color: #b20000"></i> 070 2222 3333</p>
                            <p><i class="fas fa-star" style="color: #b20000"></i> 4/5</p>
                        </div>
                    </div>
                    <div class="col-md-6 section-5a">
                        <div>
                            <img class="b-image" src="images/company.png">
                        </div>
                        <div class="b-desc">
                            <p>Everyday People International Company Ltd</p>
                            <p>Everyday Avenue, Lagos</p>
                            <p><i class="fas fa-at" style="color: #b20000"></i> test@test.com</p>
                            <p><i class="fas fa-phone" style="color: #b20000"></i> 070 2222 3333</p>
                            <p><i class="fas fa-star" style="color: #b20000"></i> 4/5</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-6 section-5a">
                            <div>
                                <img class="b-image" src="images/company.png">
                            </div>
                            <div class="b-desc">
                                <p>The Young Inventors Company Ltd</p>
                                <p>3 Olukola Way, Abuja</p>
                                <p><i class="fas fa-at" style="color: #b20000"></i> test@test.com</p>
                                <p><i class="fas fa-phone" style="color: #b20000"></i> 070 2222 3333</p>
                                <p><i class="fas fa-star" style="color: #b20000"></i> 4/5</p>
                            </div>
                        </div>
                        <div class="col-md-6 section-5a">
                            <div>
                                <img class="b-image" src="images/company.png">
                            </div>
                            <div class="b-desc">
                                <p>Logistics Pro Company Ltd</p>
                                <p>4 Kassem Ibrahim Street, Lagos</p>
                                <p><i class="fas fa-at" style="color: #b20000"></i> test@test.com</p>
                                <p><i class="fas fa-phone" style="color: #b20000"></i> 070 2222 3333</p>
                                <p><i class="fas fa-star" style="color: #b20000"></i> 4/5</p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="footer">
                <div class="row f1 f-top">
                    <div class="col-md-3">
                        <h2><span class="f-name">WEconnect</span></h2>
                    </div>
                    <div class="col-md-3"> 
                        <p class="f-address"><i class="fas fa-map-marker" style="color: #b20000"></i> 4 Kazzem Oyofo Close</p>
                        <p class="f-city">Ajah, Lagos State</p>
                    </div>
                    <div class="col-md-3">
                        <p class="f-phone"><i class="fas fa-phone" style="color: #b20000"></i> 070 3221 6073</p>   
                    </div>
                    <div class="col-md-3">
                        <i class="fab fa-facebook-f f-media f-facebook"></i>
                        <i class="fab fa-twitter f-media f-twitter"></i>
                        <i class="fab fa-google-plus-g f-media f-google"></i>
                        <i class="fab fa-linkedin-in f-media f-link"></i>
                    </div>
                </div>
                <div class="row f1 f-bottom">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        &copy; 2018 All Rights Reserved
                    </div>
                    <div class="col-md-3">
                        <a href="#"><p class="f-privacy">Privacy Policy</p></a>
                    </div>
                    <div class="col-md-3">
                       <a href="#"><p class="f-terms">Terms of Use</p></a>
                    </div>
                </div>
            </div>
        </div>
        <script type='text/javascript' src='script.js'></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>