<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="profilestyle.css">
        <script type='text/javascript' src='script.js'></script>
        <title>Profile</title>
    </head> 
    <body>
        <div>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand logo" href="index.html">WEconnect</span></a>
                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link menu" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="profile.html">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="register.html">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>           
        <div class="container">
            <div class="row profile">
                <div class="col-md-4 edit-profile">
                    <img class="p-image" src="images/nobody.jpg" alt="profile pic">
                    <button class="btn btn-outline-danger edit-btn" type="submit"><a class="edit-b" href="update.html">Edit Profile</a></button>
                </div>
                <div class="col-md-4">
                    <h1>John Doe</h1>
                    <h6>test@test.com</h6>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>50</h3>
                            <p>Reviews</p>
                        </div>
                        <div class="col-sm-6">
                            <h3>50</h3>
                            <p>Comments</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r-businesses">
                <!--delete business would be applied to each business-->
                <h2><i class="fas fa-address-card"></i> Registered Businessess</h2>
                <div class="row">
                    <div class="col-md-6 business">
                        <div>
                            <img class="b-image" src="images/company.png">
                        </div>
                        <div class="p-desc">
                            <h4>Good People Ltd</h4>
                            <p>Carpentry and woodworks</p>
                            <p>30 Reviews</p>
                            <p><i class="fas fa-star"></i> 4/5</p>
                            <button class="btn btn-outline-danger" type="submit"><a class="edit-b" href="edit.html">Edit Business</a></button>
                        </div>
                    </div>
                    <div class="col-md-6 business">
                        <div>
                            <img class="b-image" src="images/company.png">
                        </div>
                        <div class="p-desc">
                            <h4>Impression Ltd</h4>
                            <p>Restaurants and home delivery</p>
                            <p>20 Reviews</p>
                            <p><i class="fas fa-star"></i> 4/5</p>
                            <button class="btn btn-outline-danger" type="submit"><a class="edit-b" href="edit.html">Edit Business</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
                <div class="row f1 f-top">
                    <div class="col-md-3">
                        <h2><span class="f-name">WEconnect</span></h2>
                    </div>
                    <div class="col-md-3"> 
                        <p class="f-address"><i class="fas fa-map-marker" style="color: #b20000"></i> 4 Kazzem Oyofo Close</p>
                        <p class="f-city">Ajah, Lagos State</p>
                    </div>
                    <div class="col-md-3">
                        <p class="f-phone"><i class="fas fa-phone" style="color: #b20000"></i> 070 3221 6073</p>   
                    </div>
                    <div class="col-md-3">
                        <i class="fab fa-facebook-f f-media f-facebook"></i>
                        <i class="fab fa-twitter f-media f-twitter"></i>
                        <i class="fab fa-google-plus-g f-media f-google"></i>
                        <i class="fab fa-linkedin-in f-media f-link"></i>
                    </div>
            </div>
            <div class="row f1 f-bottom">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        &copy; 2018 All Rights Reserved
                    </div>
                    <div class="col-md-3">
                        <a href="#"><p class="f-privacy">Privacy Policy</p></a>
                    </div>
                    <div class="col-md-3">
                       <a href="#"><p class="f-terms">Terms of Use</p></a>
                    </div>
            </div>
        </div>
        <script type='text/javascript' src='script.js'></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>