body{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.logo{
    margin-left: 30px;
    font-size: 2em;
    background-color: #b20000;
    color: white !important;
    padding: 5px;
}
.r-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
}
.r-text{
    text-align: center;
}
.b-form{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.footer{
    background-color: black;
    bottom: 0;
    width: 100%;
    color: lightgrey;
}
.f1{
    margin-left: 2em;
}
.f-top{
    border-bottom: 1px solid lightgrey;
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;
}
.f-bottom{
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;
}
.f-name{
    margin-left: 1.1em;
    background-color: #b20000;
    color: white;
    padding: 5px;
}
.f-media{
    cursor: pointer;
}
.f-media:hover{
    color: #b20000;
}
.f-google, .f-link, .f-twitter{
    margin-left: 8px;
}
.f-address{
    margin-left: 6px;
}
.f-city{
    margin-left: 22px;
}
.f-terms, .f-privacy{
    color: lightgrey;
}
.f-terms:hover, .f-privacy:hover{
    color: #b20000;
}
.col-md-3>a{
    text-decoration: none;
}
@media(max-width: 767px){
    .footer{
        text-align: center;
    }

}