<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="registerstyle.css">
        <script type='text/javascript' src='script.js'></script>
        <title>Register</title>
    </head> 
    <body>
        <div class="header">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">WEconnect</a>
                <h6>For Business Owners</h6>
            </nav>
        </div>
        <div class="r-body">
                <div class="r-text">
                <h1>Edit Your Profile</h1>
            
           </div>
            <div>
                    <form>
                        <div class="r-form">
                                <label for="textInput">Country</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">Business Name</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">Address 1</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">Address 2</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">City</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">State</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">Zip</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">Phone</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">Web Address</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">Email</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <div class="r-form">
                                <label for="textInput">Category</label>
                                <input id="textInput" class="custom" size="32" type=""/>
                        </div>
                        <input class="r-form b-form" type="submit" value="Edit Profile">
                </form>
           </div>
        </div>
        
        <script type='text/javascript' src='script.js'></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>