.thumbs{
    height: 15em;
    width: 18em;
    margin-top: 40px;
}
.cat-search{
    position: absolute;
    margin-top: 4em;
}
.col-lg-4>p{
    text-align: center;
}
.cat-body{
    margin-top: 4em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em
}
@media(max-width:991px){
    .thumbs{
        width: 18em;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}