.thumbs{
    height: 15em;
    width: 15em;
    margin-top: 40px;
}
.catalogue{

}
.col-md-6>p{
    
}
@media(max-width:900px){
    .thumbs{
        display: flex;
        flex-direction: column;
    }
}