<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/details.css">
        <script type='text/javascript' src='script.js'></script>
        <title>WEconnect</title>
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-sm navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand logo" href="index.html">WEconnect</span></a>
                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link menu" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="profile.html">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu" href="register.html">Register Business</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="restofbody details">
            <div class="b-details">
                <div class="row b-info">
                    <div class="col-lg-6">
                        <img class="img-responsive top-image" src="images/fashion.jpg" alt="Fashion">
                    </div>
                    <div class="col-lg-6">
                        <p>We are located in a central area well within the heart of the city for easy assess. We provide you the best servive and care a lot about your wellbeing. Our customers are always satisfied with our services. Visit us today and you will have a positive story to tell.</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <div class="col-sm-4">
                                <p>22 Likes</p>
                            </div>
                            <div class="col-sm-4">
                                <p>112 Visits</p>
                            </div>
                        </div>
                    </div>   
                </div>
                <p class="reviews">Business reviews</p>
                <div class="b-rev">
                    <div class="row b-review">
                        <div class="col-sm-3">
                            <img class="user-image" src="images/nobody.jpg" alt="">
                            <p>John</p>
                        </div>
                        <div class="col-sm-9">
                            <p>They are very good at what they do. Awesome experience</p>
                            <div class="rate">
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="user-image" src="images/nobody.jpg" alt="">
                            <p>Lucky</p>
                        </div>
                        <div class="col-sm-9">
                            <p>They seem fair</p>
                            <div class="rate">
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <form class="review-form">
                        <div class="form-group">
                            <label class="post-review" for="post-review"></label>
                            <textarea class="form-control" id="post-review" rows="5" placeholder="Write a review..."></textarea>
                        </div>
                        <button class="btn btn-outline-danger my-2 my-sm-0">Post Review</button>
                    </form>
                </div>
            </div>
            <div class="footer">
                <div class="row f1 f-top">
                    <div class="col-md-3">
                        <h2><span class="f-name">WEconnect</span></h2>
                    </div>
                    <div class="col-md-3"> 
                        <p class="f-address"><i class="fas fa-map-marker" style="color: #b20000"></i> 4 Kazzem Oyofo Close</p>
                        <p class="f-city">Ajah, Lagos State</p>
                    </div>
                    <div class="col-md-3">
                        <p class="f-phone"><i class="fas fa-phone" style="color: #b20000"></i> 070 3221 6073</p>   
                    </div>
                    <div class="col-md-3">
                        <i class="fab fa-facebook-f f-media f-facebook"></i>
                        <i class="fab fa-twitter f-media f-twitter"></i>
                        <i class="fab fa-google-plus-g f-media f-google"></i>
                        <i class="fab fa-linkedin-in f-media f-link"></i>
                    </div>
                </div>
                <div class="row f1 f-bottom">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-3">
                        &copy; 2018 All Rights Reserved
                    </div>
                    <div class="col-md-3">
                        <a href="#"><p class="f-privacy">Privacy Policy</p></a>
                    </div>
                    <div class="col-md-3">
                       <a href="#"><p class="f-terms">Terms of Use</p></a>
                    </div>
                </div>
            </div>
        </div>    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type='text/javascript' src='script.js'></script>
    </body>
</html>